# Python
.venv/
__pycache__/
*.pyc

# Node / Next.js
frontend/node_modules/
frontend/.next/

# OS
.DS_Store

# Environment variables
.env

# ML models
backend/ml_models/*.pkl
# Frontend Dependencies
frontend/node_modules/

# Frontend Build Output
frontend/.next/

# Frontend Environment Variables
frontend/.env.local
frontend/.env.development.local

# Your API Key
frontend/api_key.txt
# Ignore API keys
data/rainfall/api_key.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend Python virtual environment
backend/venv/
